<%= form_for(diet_record) do |f| %>
  <% if diet_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diet_record.errors.count, "error") %> prohibited this diet_record from being saved:</h2>

      <ul>
      <% diet_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

<div class="actions">
  <ul>
    <li>
      <%= f.submit '作成', class: "btn btn-mini btn-primary" %>
    </li>
  </ul>
</div>

<% end %>
